@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;700&family=Ubuntu+Mono:wght@400;700&display=swap');

body {
	/* background-image: linear-gradient(black, white); */
    min-height: 90%;
    background: red;
    background: -webkit-linear-gradient(top, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet);
	font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu Mono', monospace;	
}

html {
  height: 100%;
}

/* definicja obiektu do wypoisywania błedów */
.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

#title {
	font-style: italic;
	background-color: #800080;
	letter-spacing: -8px;
	font-size: 30px;
	float: auto;
	margin: auto;
	text-align: center;
	padding: auto;
	width: 50%;
	position: center;
	left: 18%;
	border: 3px solid #ca0fca;
}


#content {

	background-color: rgb(70, 70, 70);
	float: center;
	margin: auto;
	text-align: left;
	padding: auto;
	width: 85%;
	min-height: 90vh;
	border-style: ridge;
	margin-top: 2%;

}

blockquote {
	text-indent: -0.45em;
  }
/* 
#FF8080 
#8080FF
*/
chapter_title{
	color: rgb(224, 224, 224);
	display: block;
   	width:100%;
	text-align: center;
	font-size: 2em;
	margin-top: 5vh;
  	margin-bottom: 2vh;
  	margin-right: auto;
  	margin-left: auto;
	animation: kolory-animacja 30s infinite;
}

@keyframes kolory-animacja {
	0%{
		color: #FF8080;
	}
	50%{
		color: #8080FF;
	}
	100%{
		color: #FF8080
	}
}

normal_text{
	font-size: 1.2em;
	color: rgb(224, 224, 224);;
	display: block;
	text-indent: 50px;
  	margin-top: auto;
  	margin-bottom: auto;
  	margin-right: 10%;
  	margin-left: 10%;
}

a{
	text-decoration: none;
	animation-name: a-out;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
a:hover{
	animation-name: a-in;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes a-in {
	0%{
		color: #5a5dff;
	}
	100%{
		color: #6C6FF0;
	}
}
@keyframes a-out {
	0%{
		color: #6C6FF0;
	}
	100%{
		color: #5a5dff;
	}
	
}


#logowanie {
	background-color: lightgray;
	float: center;
	margin: auto;
	text-align: center;
	padding: auto;
	width: 300px;
	margin-bottom: 5%;
	border-style: ridge;
}
.center{
	display: block;
	margin: auto;
	width: 80%;
}



th, td {
  padding: center;
  text-align: center;
  font-size: 1.5vw;
  border: 1px   black solid;
  margin-left: auto;
  margin-right: auto;
}

tr:hover {
    background-color: coral;
    color: black;
}
tr:nth-child(even) {background-color:  #6b708a;}
tr:nth-child(odd) {background-color:   Grey;} 
tr > td:last-of-type {
	font-style: italic;

}
td:nth-child(2){
    background: rgba(1, 1, 10, 0.1);
}
td:nth-child(1){  text-align: right}
table {
  border-radius: 5px;
  background: rgba(1, 1, 10, 0.6);
  padding: auto;
  width: 75%;
  height: auto; 
}

